:root {
  --main-bg-color: #424242;
  --main-font-color: #FFFFFF;
}

.buttonContainer
{
  margin-top: 10px;
  margin-bottom: 10px;
}

.content
{
  display:flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 100%;
}

.genButton
{
  max-width: 300px;
  color: var(--main-font-color) !important;
  background-color: var(--main-bg-color) !important;
  border: none !important;
  cursor: pointer;
}

.navbar
{
  display: flex;
  flex-direction: row;
  background-color: var(--main-bg-color) !important;
}

.navTitle
{
  margin-left: 0px !important;
  font-size: 24px !important;
}

.output
{
  margin-top: 10px;
  margin-bottom: 10px;
  height: 150px;
  width: 100%;
  border-radius: 2px;
  border: 1px solid var(--main-bg-color) !important;
}

.row
{
  margin-top: 10px;
  margin-bottom: 10px;
  white-space: nowrap;
}

.rowContentContainer
{
  display: flex;
  flex-wrap: wrap;
}

.rowTitle
{
  margin-left: 5px;
  margin-right: 15px;
  min-width: 100px;
  font-weight: 700 !important;
}

.rowItem
{
  display: flex;
  flex-direction: row;
  margin-left: 5px;
  margin-right: 5px
}
